<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpsBinding>
				<binding name="QueryPESELSoap11Binding" />
			</basicHttpsBinding>
			<customBinding>
				<binding name="QueryPESELSoap12Binding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="https://dz3.swd.zbp.pl/broker3/services/QueryPESEL.QueryPESELHttpSoap11Endpoint/"
				 binding="basicHttpsBinding" bindingConfiguration="QueryPESELSoap11Binding"
				 contract="ServiceReference1.QueryPESELPortType" name="QueryPESELHttpSoap11Endpoint" />
			<endpoint address="https://dz3.swd.zbp.pl/broker3/services/QueryPESEL.QueryPESELHttpSoap12Endpoint/"
				 binding="customBinding" bindingConfiguration="QueryPESELSoap12Binding"
				 contract="ServiceReference1.QueryPESELPortType" name="QueryPESELHttpSoap12Endpoint" />
		</client>
	</system.serviceModel>
	<system.web>
		<webServices>
			<soapExtensionTypes>
				<add group="Low" priority="1" type="NugetTest.Tests.SoapLogger, NugetTest.Tests" />
			</soapExtensionTypes>
		</webServices>
	</system.web>
</configuration>